.messages {
  max-height: 50rem;
  overflow-y: auto;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
}

.fixed-bottom {
  margin: 0;
  width: 70%;
  height: 15%;
  left: 15%;
}

.card.fixed-bottom .card-body {
  padding: 10px;
}

.typing-indicator {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  border: 2px solid transparent;
  border-top-color: #007bff;
  animation: typing 1s infinite linear;
  left: 2%;
}

@keyframes typing {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
