<div class="container mt-4">
  <div class="card">
    <div class="card-body">
      <div class="messages mb-3">
        @for (msg of messages; track $index) {
          <div
          class="d-flex mb-2"
          [class.justify-content-end]="msg.sender === 'user'"
        >
          <div
            class="p-2 rounded"
            [ngClass]="{
              'bg-light text-dark': msg.sender === 'bot',
              'bg-primary text-white': msg.sender === 'user'
            }">
            {{ msg.text }}
          </div>
        </div>
      }
        </div>
      </div>
  </div>
  <div class="row fixed-bottom p-3">
    <div class="input-group">
      <input
        type="text"
        class="form-control form-control-lg"
        id="colFormLabelLg"
        placeholder="Digite sua mensagem"
      />
      <button class="btn btn-primary" (click)="sendMessage()">Enviar</button>
    </div>
  </div>
</div>